.cover__subtitle {
    margin:0;
    max-width: 288px;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 122%;
    }
}
