.introduction {
    width: 100%;                     
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media screen and (min-width: 1024px) {
    .introduction {
        width: calc(100% - 2*48px);
    }
}

@media screen and (min-width: 1280px) {
    .introduction {
        width: calc(100% - 2*(148px - 48px) );
    }    
}
