.footer__links {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 32px;
    align-items: flex-start;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .footer__links {
        grid-template-columns: repeat(5, auto);
        gap: 18px;
        align-items: center;
    }
}
