@import url(../vendor/normalize.css); /* подключили нормалайз (сбросили настройки браузера) */
@import url(../vendor/fonts/fonts.css); /* подключены шрифты */
 
 /* *{
     border: solid red 1px;
 } */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.header {
    padding: 16px 0 48px;
    width: calc(100% - 2*16px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo{ /*а нужно жестко или чтобы растягивалось? */
    width: 142px;
    height: 42px;
}

.header__lang-link {
    margin-right: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 111%;
    color: white;
    text-decoration: none;
    transition: text-decoration 0.5s ease-in;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

.header__lang-link_active {
    text-decoration: underline;
}
 


.lead {
    width: 100%;                     
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    margin: 0 0 16px;
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: white;
}

.lead__subtitle {
    margin: 0 0 40px;
    max-width: 288px;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: white;  
}

.lead__image {
    width: 100%;
}

.lead__caption {
    margin: 8px 0 0 16px;
    align-self: flex-start;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;  
}



@media screen and (min-width: 768px) {
    .header {
        padding-top: 28px;
        width: calc(100% - 2*24px);
    }

    .header__logo{ 
        width: 176px;
        height: 52px;
    }

    .header__lang-link {
        font-size: 24px;
        line-height: 117%;
    }

    .lead__title {
        margin-bottom: 32px;
        max-width: 720px;
        font-weight: 900;
        font-size: 96px;
        line-height: 104%;
    }
    
    .lead__subtitle {
        margin-bottom: 56px;
        max-width: 640px;
        font-size: 30px;
        line-height: 120%;
    }

    .lead__caption {
        margin-left: 24px;
    }

}

@media screen and (min-width: 1024px) {
    .header {
        width: calc(100% - 2*48px);
    }

    .lead {
        width: calc(100% - 2*48px);     
    }

    .lead__caption {
        margin-left: 0;
   

}

@media screen and (min-width: 1280px) {
    .header {
        padding-bottom: 56px;
    }

    .lead {
        width: calc(100% - 2*148px);     
    }

    .lead__subtitle {
        margin-bottom: 64px;
    }
}
