.lead__caption {
    margin: 8px 0 0 16px;
    align-self: flex-start;
    font-weight: normal;
    font-size: 10px;
    line-height: 145%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;  
}

@media screen and (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin-left: 0;
    }    
}
