@media screen and (min-width: 768px) {
    .website__link{
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        border-bottom: #FFFFFF solid 1px;
        color: #FFFFFF;
        transition: opasity 0.5s ease-in;
    }

    .website__link:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
